{% extends 'base.html' %}

{% block main %}
<div class="delete-account">

    {% if douban_account %}
    <div class="title">
        <h3>你确定要注销这个豆瓣帐号的授权吗？</h3>
    </div>

    {% include 'douban_user_no_delete.html' %}

    <div class="douban-user-delete-form">
        <form id="douban-user-delete-form" method="POST" action=".">
            <div class="douban-user-delete-confirm">
                <input type="submit" name="yes" value="是的，我确定要注销这个豆瓣帐号的授权"></input>
            </div>
            <div class="last douban-user-delete-cancel">
                <input type="button" name="no" value="撤销"></input>
            </div>
        </form>
    </div>
    {% else %}
    <div class="title last">
        <h3>没找到豆瓣 ID 为 {{ douban_id }} 的已授权帐户</h3>
    </div>
    {% endif %}

</div>
{% endblock %}
